
<nav class="navbar navbar-expand-lg  d-flex justify-content-center p-3">
        <h1 class="navbar-brand fs-1 text-white">Logo Placeholder</h1>
    <button class="no-button" id="logout">logout</button>
    <button class="questions" id="questions">Questions?</button>
</nav>

<section class="d-flex justify-content-center">
        <div class="card border-dark w-75 p-3" style="width: 75%;" style="height: 75%;">
            <div class="card-body">

<div class="d-flex justify-content-row justify-content-center"> 
      <div class="clock">
        <button type="submit" style="display: flex;" class="btn btn-primary">Clock</button>
      </div>
      <div class="time-card" style="display: flex;">
        <button type="submit" class="btn btn-primary">Time Card</button>
      </div>
        </div>
        </div>
    

        <section class="d-flex justify-content-center">
        <div class="card border-dark w-75 p-3" style="width: 75%;" style="height: 75%;">
            <div class="card-body">

      <div class="employee-info">
        <div type="text" class="employee-info">Employee:</div>
      </div>
      <div class="schedule">
        <div type="text" class="schedule">Schedule:</div>
      </div>
      <div class="time-off">
        <div type="text" class="time-off">Time Off:</div>
      </div>
      </div>
        </div>
</section>
<footer>
        <h2 class="companyName text-center">Grady's Groceries</h2>
    </footer>
    

    