<section class="user-container" style="display: flex; flex-wrap:wrap; justify-content:center; ">
        <div class="card border-dark w-75 p-5" style="display: flex; flex-wrap:wrap align-content:center;" style="width: 75%;" style="height:75%;">
            <div class="card-body">
                <div class="d-flex justify-content-center">
    <head>
        <div></div>
        <h2 class="text-decoration-underline text-decoration-underline-bold" style="display: flex; justify-content:center;">Questions?
           </h2>
        </div>
    </head>
        <section class="employee-info-card" >
  <div class="card-body" >

      <div class="employee-info" style="display: flex; flex-wrap:wrap; justify-content:center;">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Twain</td>
      <td>Cashier</td>
    </tr>
    <tr>
  </tbody>
</table>

<form>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Request time off below!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
        <button type="submit" class="btn btn-primary mt-3 mb-5" href="/login">Submit</button>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Other Questions or Concerns?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-5" href="/login">Submit</button>
    <div class="form-group">
    </form>
      