@import url(https://fonts.googleapis.com/css?family=Roboto);

.navbar {
    background-color: darkblue;
}

.body {
    background-color: lightblue;
}

.companyName{
    color: darkblue;
    font-size: 50px;
}
/* 
#questions, 
#userDropdown {
    background-color: white;
    visibility: hidden;
} */

body {
  font-family: Roboto, sans-serif;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
  }

@media screen and (max-width: 912px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    #motto1 {
        margin-bottom: -1em;
          
    }
    #motto2 {
        margin-top: -1em;
    }
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .clock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #clockBtn{
        margin-top: -3em;
    }
    #timecardBtn {
        margin-top: 1em;
    }
    #timeOffHeading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #sickText{
        white-space: nowrap;
    }
}

#start_workbtn{
	padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: dodgerblue;
    text-align: center;
}

#stop_workbtn{
    display: none;
	padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: red;
    text-align: center;
}

.questions{
    color: black;
}
