.navbar {
    background-color: darkblue;
}

.body {
    background-color: lightblue;
}

.companyName{
    color: darkblue;
    font-size: 50px;
}
/* 
#questions, 
#userDropdown {
    background-color: white;
    visibility: hidden;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
  }

@media screen and (max-width: 912px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    #motto1 {
        margin-bottom: -1em;
          
    }
    #motto2 {
        margin-top: -1em;
    }
}

#start_workbtn{
	padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: dodgerblue;
    text-align: center;
}

#stop_workbtn{
    display: none;
	padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: red;
    text-align: center;
}
